@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.wrapper{
    width: 336px;
    min-height: 236px;
    max-height: 400px;
    margin: auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 0 0 1px 0;
    margin-top: 150px;
    position: relative;
}
.yel{
    margin-top: 0px;
    height: 30px;
    width: 336px;
    background-color: #FFDC40;
    border-radius: 10px 10px 0 0;

}
.todo{
font-family: 'Roboto';
font-weight: 900;
font-size: 26px;
text-align: center;
margin-top: 13px;
}
.sort{
    width: 25px;
    margin-left: 285px;
    border: 0px;
    background: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.sort2{
    width: 25px;
    margin-left: 285px;
    border: 0px;
    background: none;
    display: none;
    justify-content: flex-end;
    cursor: pointer;
}
.sort3-image{
    margin-top: -15px;
    width: 25px;
    height: 15px;
    position: relative;
}
.sort4-image{
    margin-top: -15px;
    width: 25px;
    height: 15px;
    position: absolute;
    display: none;
}
.sort-image{
    margin-top: -15px;
    width: 25px;
    height: 15px;
    position: relative;
}
.sort2-image{
    margin-top: -15px;
    width: 25px;
    height: 15px;
    position: absolute;
    display: none;
}
.list{
    width: 276px;
    min-height: 40px;
    max-height: 220px;
    margin: 10px 30px 80px 30px;
    border: 1px solid #C4C4C4;
    border-radius: 10px ;
    box-shadow: 0 0 1px 0;
    overflow-y: auto;
    scroll-snap-type: mandatory;
}
.typenew{
    display: flex;
    flex-direction: column;
    margin: 0 auto 2px auto;
}
.type{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}
.list-text{
    width: 200px;
    height: 33px;
    border: none;
    margin: 3px 15px 0px 10px;
    padding: 0 0 0 5px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 20px;
    outline: none;
}
.list-text:hover{
    background-color: #C4C4C4;
    cursor: grab;
}
.x{
    border: 0px;
    background: none; 
    position: absolute;
    right: 11px;
    top: 7px;
    cursor: pointer;
}
.x2{
    border: 0px;
    background: none; 
    position: absolute;
    right: 11px;
    top: 7px;
    cursor: pointer;
}
.x-image{
    width: 23px;
    height: 23px; 
    position: relative;  
}
.x2-image{
    width: 23px;
    height: 23px;  
    position: absolute;
}
.add{
    border: 0px;
    background: none;
    width: 50px;
    margin: auto auto auto 90px;
    position: absolute;
    bottom: 16px;
    cursor: pointer;    
}